.BurgerMenuItems {
  background-color: #333;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 50px;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.HideBurgerMenu {
  transform: translateX(100%);
  display: none;
}

.ShowBurgerMenu {
  transform: translateX(0%);
  display: inline;
}

.BurgerMenu a {
  font-size: 1.5rem;
  padding: 1.1rem 0;
  text-decoration: none;
  transition: color 0.3s linear;
}
